$textColor: #FF977D;

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    nav {
      display: flex;
      gap: 30px;
      margin-right: 80px;
        a{
          color: $textColor;
        }
      }
}