.skills {
    background-color: $backgroundColor2;
    text-align: center;
    padding: 25px;
    .logos {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        flex-wrap: wrap;
        gap: 20px;
        img {
            border-radius: 10px;
            width: 90px;
        }
    }
}