@import './Sass/variables.scss';
@import './Sass/header.scss';
@import './Sass/contactForm.scss';
@import './Sass/about.scss';



body {
  background-color: #181111;
  color: $textColor;
  font-family: "Baumans", system-ui; 
}



